<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472977030813-pbq6lh843bdcrp2ldn6oehmcf8mfn1uq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472977030813-pbq6lh843bdcrp2ldn6oehmcf8mfn1uq</string>
	<key>API_KEY</key>
	<string>AIzaSyCA8-0No8eRQzcRy08BhlKYJhjZvEOrc04</string>
	<key>GCM_SENDER_ID</key>
	<string>472977030813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dominestrator300.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-394021</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-394021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472977030813:ios:efb8e6db4b31db0adbde74</string>
</dict>
</plist>